/* RESETS */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

/* Navbar, logo and nav links */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-logo {
  font-size: 20px;
  padding-left: 20px;
}

.nav-links a {
  padding-right: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  cursor: pointer;
}

/* Homepage Hero Banner and content within banner */
.hero-banner {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./travel-1.jpg');
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 15px;

}

.hero-h2 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

/* Itinerary page Banner */
.itin-banner {
  background-color: lightgrey;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.itin-h1 {
  margin-left: 100px;
  font-size: 1.8rem;
}

/* Itinerary page buttons for each day */
.day-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.day-btn {
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

/* Itinerary planner section */
.planner-row {
  display: grid;
  height: 70px;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  margin: 0 70px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}