/* RESETS */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
}

/* Navbar, logo and nav links */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-logo {
  font-size: 20px;
  padding-left: 20px;
  height: 50px;
}

.nav-links a {
  padding-right: 20px;
  text-decoration: none;
  color: #16697a;
  font-size: 1.1rem;
}

.nav-links a:hover {
  cursor: pointer;
  color: #ffa62b;
}

/* Homepage Hero Banner and content within banner */
.hero-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./travel-1.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 100;
}

.hero-h2 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

.search {
  margin-top: 20px;
  height: 50px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 30px;
  padding-left: 50px;
  color: white;
  font-size: 17px;
}

input::placeholder {
  color: #ffffff !important;
  font-size: 1rem;
}

.search-icon {
  position: relative;
  font-size: 1.3rem;
  z-index: 1;
  right: -20px;
  top: 5px;
  color: white;
  cursor: pointer;
  width: 0;
}

.search-icon:hover {
  transition: 0.3s;
  color: #16697a;
}

/* Itinerary page Banner */
.itin-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("./travel-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.itin-h1 {
  margin-left: 100px;
  font-size: 1.8rem;
  color: white;
}

/* Itinerary page buttons for each day */
.day-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.day-btn {
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #82c0cc;
}

.day-btn:hover {
  background-color: #ffa62b;
}

/* Itinerary planner section */
.day-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #16697a;
  margin-bottom: 30px;
}

.planner-row {
  display: grid;
  height: 60px;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  margin: 0 70px;
  margin-bottom: 20px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  padding: 10px;
  font-family: Lato;
  font-size: 15px;
  border-radius: 5px;
}

textarea:focus {
  border: 2px solid #ffa62b;
}

.save-btn {
  background-color: #82c0cc;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Lato;
  font-size: 15px;
  margin-left: 5px;
}

.save-btn:hover {
  background-color: #ffa62b;
  color: white;
}

footer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
